.gallery {
    padding: 50px 0;
    text-align: center;
}

.gallery h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.img-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-grid img {
    /* flex: 1 1 30%; */
    margin: 10px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-grid img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

